{% include 'header.html' %}
{% include 'navbar.html' %}
	<div class="container">
		<div class="row row-offcanvas row-offcanvas-right">
			<div class="col-xs-8">
				<form class="form-horizontal col-md-8 col-md-offset-5" role="form">
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="username" placeholder="Username">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="password" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<label for="passtype" class="col-sm-2 control-label">Password Type</label>
						<div class="col-sm-10">
							<select class="form-control">
								<option>none/plain</option>
								<option>crypt</option>
								<option>md5</option>
								<option>sha1</option>
								<option>ripemd160</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="hosts" class="col-sm-2 control-label">Hosts</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="class" class="col-sm-2 control-label">Class</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="class" placeholder="clients">
						</div>
					</div>
					<div class="form-group">
						<label for="maxlogins" class="col-sm-2 control-label">Max Logins</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="maxlogins" placeholder="0">
						</div>
					</div>
					<div class="form-group">
						<label for="swhois" class="col-sm-2 control-label">SWHOIS</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="swhois" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="modes" class="col-sm-2 control-label">Modes</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="modes" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="snomask" class="col-sm-2 control-label">Server Notice Mask</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="snomask" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="flags" class="col-sm-2 control-label">Oper Flags</label>
						<div class="col-sm-10 tooltips">
{% for flag in flagList %}
							<label class="checkbox-inline" data-toggle="tooltip" data-placement="right" title="{{ flag.description }}">
								<input type="checkbox" id="{{ flag.old_flag }}" value="{{ flag.old_flag }}"> {{ flag.new_flag }}
							</label>
{% endfor %}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default pull-right">Add Oper</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% include 'footer.html' %}




