a {
    color: #003399;
    text-decoration: none;
}

body {
    font-family: tahoma, arial, sans-serif;
    font-size: 11px;
    background-color: #FFFFFF;
}

form {
	margin: 10px;
	padding: 0px;
}

input {
	border-width: 1px;
	border-style: solid;
	border-color: #8698bf;
	padding: 1px;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 10px;
}

input.long {
	width: 300px;
}

textarea {
	border-width: 1px;
	border-style: solid;
	border-color: #8698bf;
	padding: 1px;
	font-family: verdana;
	font-size: 10px;
}

input.button {
	border-width: 2px;
	border-style: outset;
	font-weight: bold;
}
input.button:active {
	border-style: inset;
	padding-left: 2px;
}

select {
	font-size: 11px;
}

.top {
    height: 110px;
    vertical-align: top;
    text-align: left;
    border-bottom: black 1px solid;
}

.date {
    background-color: #eeeeee;
    border-right: 0px;
    border-top: 0px;
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 200px;
    height: 15;
}

.body {
    width: 770px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
}

.content {
    padding-top: 10px;
    padding-right:  10px;
    padding-bottom: 10px;
    width: 600px;
    vertical-align: top;
    text-align: left;
}

.toc {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 150px;
    vertical-align: top;
    text-align: left;
}

.bottom {
    border-top: black 1px solid;
    color: #FFFFFF;
    background-color: #8698bf;
    padding: 2px;
    text-align: left;
}

.menu-top {
    height: 10px;
    width: 150px;
}
.menu-bottom {
    height: 9px;
    width: 150px;
}
.menu-item-top {
    width: 144px;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 1px;
    padding-left: 5px;
    background-color: #F4F4F4;
}
.menu-item {
    width: 144px;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 1px;
    padding-left: 5px;
    background-color: #F4F4F4;
}

.main {
    border: #888888 1px solid;
    width: 600px;
    padding: 0px;
}

.block-head {
    background-color: #A8BEE3;
    width: 100%;
	padding: 2px 2px 2px 2px;
    border: 0px;
}

.block-content {
    margin: 0px;
	padding: 5px 5px 10px 5px;
    border: 0px;
}

.quote {
    font-family: Monospace;
}
